<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin/index.css">
    <link rel="stylesheet" href="/css/globel.css">
    <link rel="stylesheet" href="/css/element.css">
    <link rel="stylesheet" href="/css/frame.css">
    <link rel="stylesheet" href="/css/lTable.css">
</head>

<body>
<div id="app">
    <!-- 遮罩数据操作 -->
    <div class="editMark" id="editMark">
        <div class="tableEdit" id="tableEdit">
            <div class="editMain" id="editMain"></div>
        </div>
    </div>
    <div class="adminNav">
        <p class="navTitle"><i class="el-icon-user-solid"></i> 管理端</p>
        <div class="userInformation">
            <p>当前用户:gugu</p>
            <el-button class="userLoginOut" @click="" type="text" icon="el-icon-switch-button">登出</el-button>
        </div>
    </div>
    <div class="adminBody">

        <el-row class="adminList">
            <el-menu default-active="1" class="el-menu-vertical-demo" @select="handleSelect"
                     background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
                <el-menu-item index="1">
                    <i class="el-icon-user"></i>
                    <span slot="title">学生用户列表</span>
                </el-menu-item>
                <el-menu-item index="2">
                    <i class="el-icon-suitcase-1"></i>
                    <span slot="title">教师用户列表</span>
                </el-menu-item>
                <el-menu-item index="3">
                    <i class="el-icon-edit-outline"></i>
                    <span slot="title">选题管理</span>
                </el-menu-item>
                <el-menu-item index="5">
                    <i class="el-icon-chat-square"></i>
                    <span slot="title">公告管理</span>
                </el-menu-item>
                <el-menu-item index="6">
                    <i class="el-icon-document"></i>
                    <span slot="title">模板文件管理</span>
                </el-menu-item>
                <el-menu-item index="7">
                    <i class="el-icon-document"></i>
                    <span slot="title">学生提交文件管理</span>
                </el-menu-item>
                <el-menu-item index="8">
                    <i class="el-icon-date"></i>
                    <span slot="title">毕业设计流程日期管理</span>
                </el-menu-item>
                <el-menu-item index="9">
                    <i class="el-icon-user"></i>
                    <span slot="title">用户管理</span>
                </el-menu-item>
            </el-menu>
        </el-row>
        <div class="adminData">
            <div id="listTool" class="listTool"></div>
            <!-- 主体 -->
            <div class="mainContent" id="mainContent">
            </div>
            <!-- 分页 -->
            <el-pagination class="listPagination" background
                           @current-change="handleCurrentChange"  :current-page="pageInfo.nowPage" :page-size="pageInfo.pageSize" :total="pageInfo.totalData"
                           layout="prev, pager, next, jumper">
            </el-pagination>

        </div>
    </div>
</div>
</body>
<script src="/js/tool.js" type="module"></script>
<script src="/js/staticValue.js" type="module"></script>
<script src="/js/tableModel.js" type="module"></script>
<script src="/js/vue.js" type="module"></script>
<script src="/js/element.js" type="module"></script>
<script src="/js/axios.js"></script>
<script type="module">

    import {tools} from '/js/tool.js';
    import {staticValue} from '/js/staticValue.js';
    import {tableModel} from '/js/tableModel.js';

    (async () => {
        tools.setDefaultPage({
            title: '标题',
            topicSelect: ['none', 'none'],
            listToolAddAll: 'none',
            importUri:'/import/student'
        });
        await tools.setPage('mainContent', '/view/data/studentTable.html');
        await tools.setPage('listTool', '/view/listTool.html', {title: '学生用户管理', listToolAddAll: 'block'});
        let studentData = await tools.getAxiosData('/student/list?page=1&pageSize=8');//获取数据
        tools.$('#tableDate').innerHTML = await tableModel.getStudentTableData(studentData['data']['data']);//绑定数据
        var app = Vue.extend({
            data() {
                return {
                    //多文件上传列表
                    fileList: [],
                    pageInfo:{
                        pageSize: 8,
                        nowPage:1,
                        totalData: studentData['data']['total'],
                    },
                    topicTeachers: [
                        {
                            key: 0,
                            choseTeacher: '全选',
                            label: '全选'
                        }, {
                            key: 1,
                            choseTeacher: '王老师',
                            label: '王老师'
                        }, {
                            key: 2,
                            choseTeacher: '李老师',
                            label: '李老师'
                        }, {
                            key: 3,
                            choseTeacher: '陈老师',
                            label: '蚵仔煎'
                        }, {
                            key: 4,
                            choseTeacher: '张老师',
                            label: '龙须面'
                        }, {
                            key: 5,
                            choseTeacher: '杨老师',
                            label: '北京烤鸭'
                        }],
                    choseTeacher:'',
                    //编辑用户表单
                    //学生
                    studentEdit: {
                        studentName: '',
                        studentGarden: '',
                        studentDepartment: ''
                    },
                    //教师
                    teacherEdit: {
                        studentName: '',
                        studentDepartment: ''
                    },

                    //添加用户表单

                    //学生
                    studentAddRule: {
                        studentId: [
                            { required: true, message: '请输入学生学号', trigger: 'blur' }
                        ],
                        studentName: [
                            { required: true, message: '请输入学生姓名', trigger: 'blur' }
                        ],
                        studentGarden: [
                            { required: true, message: '请输入学生班级', trigger: 'blur' }
                        ],
                        studentDepartment: [
                            { required: true, message: '请输入学生系部', trigger: 'blur' }
                        ]
                    },
                    studentAdd: {
                        studentId:'',
                        studentName: '',
                        studentGarden: '',
                        studentDepartment: ''
                    },

                    //教师
                    teacherAddRule: {
                        teacherId:[
                            { required: true, message: '请输入教师工号', trigger: 'blur' }
                        ],
                        teacherName: [
                            { required: true, message: '请输入教师姓名', trigger: 'blur' }
                        ],
                        teacherDepartment: [
                            { required: true, message: '请输入教师系部', trigger: 'blur' }
                        ]
                    },
                    teacherAdd: {
                        teacherId:'',
                        teacherName: '',
                        teacherDepartment: ''
                    },

                    //选题
                    topicAdd:{
                        topicId:'',
                        topicContent:'',
                        topicTeacher:'',
                        topicDifficult:'',
                        topicSource:'',
                        topicTags:[],
                        topicOneTag:''
                    },
                    topicAddRule:{

                    },
                    topicSelect:{
                        teacher:[{
                            value: '黄金糕1'
                        }, {
                            value: '黄金糕2'
                        }, {
                            value: '黄金糕3'
                        }, {
                            value: '黄金糕4'
                        }, {
                            value: '黄金糕5'
                        }],

                    }
                }
            },
            mounted:function(){
                if(this._uid == 0){
                     staticValue.setThat(this);
                }
            },
            methods: {
                //左栏选择
                handleSelect(key, keyPath) {
                    staticValue.setCurrentPage(key);//设置当前页面
                    //学生用户列表
                    if (key == 1) {
                        tools.setTimeOutP(300, async () => {
                            tools.$('#mainContent').style.opacity = '0';
                        }).then(async val => {
                            await tools.setPage('listTool', '/view/listTool.html', {
                                title: '学生用户管理',
                                listToolAddAll: 'block'
                            });
                            await tools.setPage('mainContent', '/view/data/studentTable.html');
                            let studentData = await tools.getAxiosData('/student/list?page=1&pageSize=8');
                            tools.$('#tableDate').innerHTML = await tableModel.getStudentTableData(studentData['data']['data']);
                            new app().$mount("#mainContent");
                            new app().$mount("#listTool");
                            tools.$('#mainContent').style.opacity = '1';
                            this.refreshTables(1,studentData['data']['total'],8);
                        });
                    }

                    //教师用户列表
                    if (key == 2) {
                        tools.setTimeOutP(300, async () => {
                            tools.$('#mainContent').style.opacity = '0';
                        }).then(async val => {
                            await tools.setPage('listTool', '/view/listTool.html', {
                                title: '教师用户管理',
                                listToolAddAll: 'block'
                            });
                            await tools.setPage('mainContent', '/view/data/teacherTable.html');
                            let teacherData = await tools.getAxiosData('/teacher/list?page=1&pageSize=8');
                            tools.$('#tableDate').innerHTML = await tableModel.getTeacherTableData(teacherData['data']['data']);
                            new app().$mount("#mainContent");
                            new app().$mount("#listTool");
                            tools.$('#mainContent').style.opacity = '1';
                            this.refreshTables(1,teacherData['data']['total'],8);
                        });
                    }

                    //选题管理
                    if (key == 3) {
                        tools.setTimeOutP(300, async () => {
                            tools.$('#mainContent').style.opacity = '0';
                        }).then(async val => {
                            await tools.setPage('listTool', '/view/listTool.html', {
                                title: '选题管理',
                                topicSelect: ['block', 'block']
                            });
                            await tools.setPage('mainContent', '/view/data/selectTopicTable.html');
                            let topicData = [{
                                "id":"1317999917624594432",
                                "title":"选题标题1",
                                "source":"选题来源1",
                                "content":"选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1选题内容1",
                                "difficulty":1,
                                "createTime":"1603266229552",
                                "tags":["HTML","JAVA","CSS"],
                                "teacherName":"王明",
                                "teacherId":"A00001"
                            },{
                                "id":"1317999917624594433",
                                "title":"选题标题2",
                                "source":"选题来源2",
                                "content":"选题内容2",
                                "difficulty":2,
                                "createTime":"1603266229553",
                                "tags":["HTML",".NET"],
                                "teacherName":"王明2",
                                "teacherId":"A00002"
                            },{
                                "id":"1317999917624594434",
                                "title":"选题标题3",
                                "source":"选题来源3",
                                "content":"选题内容3",
                                "difficulty":3,
                                "createTime":"1603266229553",
                                "tags":[".NET"],
                                "teacherName":"王明3",
                                "teacherId":"A00003"
                            }];
                            tools.$('#tableDate').innerHTML = await tableModel.getTopicTableData(topicData);
                            new app().$mount("#mainContent");
                            new app().$mount("#listTool");
                            tools.$('#mainContent').style.opacity = '1';
                        });
                    }
                    //公告管理
                    if (key == 5) {
                        tools.setTimeOutP(300, async () => {
                            tools.$('#mainContent').style.opacity = '0';
                        }).then(async val => {
                            await tools.setPage('listTool', '/view/listTool.html', {title: '公告管理'});
                            await tools.setPage('mainContent', '/view/data/noticeManage.html');
                            new app().$mount("#mainContent");
                            new app().$mount("#listTool");
                            tools.$('#mainContent').style.opacity = '1';
                        });
                    }
                },

                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                //                   编辑页面                     //
                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                //编辑页面
                showEdit(data = '') {
                    tools.setTimeOutP(0, async () => {
                        tools.$('#editMark').style.display = 'block';
                        //学生页面编辑一项
                        if (staticValue.getCurrentPage() == 1) {
                            await tools.setPage('editMain', '/view/form/studentOneEdit.html');
                            new app().$mount('#editMain');
                            //数据为默认选中的数据
                            let studentData = await tools.getAxiosData(`/student/list?page=${staticValue.getPageNumber()}&pageSize=8`);
                            studentData['data']['data'].forEach((items,index)=>{
                                if(items['id'] === data){
                                    tools.$('#studentName').value = items['name'];
                                    tools.$('#studentGarden').value =  items['classname'];
                                    tools.$('#studentDepartment').value =  items['department'];
                                    tools.inputIsNull('#studentName','blur');//判空校验
                                    tools.inputIsNull('#studentGarden','blur');//判空校验
                                    tools.inputIsNull('#studentDepartment','blur');//判空校验
                                    staticValue.setChoseId(items['id']);
                                }
                            });
                        }

                        //教师页面编辑一项
                        if (staticValue.getCurrentPage() == 2) {
                            await tools.setPage('editMain', '/view/form/teacherOneEdit.html');
                            new app().$mount('#editMain');
                            //数据为默认选中的数据
                            let teacherData = await tools.getAxiosData(`/teacher/list?page=${staticValue.getPageNumber()}&pageSize=8`);
                            teacherData['data']['data'].forEach((items,index)=>{
                                if(items['id'] === data){
                                    tools.$('#teacherName').value = items['name'];
                                    tools.$('#teacherDepartment').value =  items['department'];
                                    tools.inputIsNull('#teacherName','blur');//判空校验
                                    tools.inputIsNull('#teacherDepartment','blur');//判空校验
                                    staticValue.setChoseId(items['id']);
                                }
                            });
                        }
                        //选题页面编辑一项
                        if (staticValue.getCurrentPage() == 3) {

                        }
                        //公告页面编辑一项
                        if (staticValue.getCurrentPage() == 5) {
                            await tools.setPage('editMain', '/view/form/noticeEdit.html');
                            new app().$mount('#editMain');
                        }
                    }).then(val => {
                        tools.$('#editMark').style.opacity = '1';
                    })
                },
                //关闭编辑
                closeEdit() {
                    tools.setTimeOutP(300, () => {
                        tools.$('#editMark').style.opacity = '0';
                    }).then(async val => {
                        tools.$('#editMark').style.display = 'none';
                        await tools.setPage('editMain', '/view/form/none.html');
                        new app().$mount("#editMain");
                    })
                },
                //关闭编辑并刷新
                closeEditAndRefresh(){
                    tools.setTimeOutP(300, () => {
                        tools.$('#editMark').style.opacity = '0';
                    }).then(async val => {
                        tools.$('#editMark').style.display = 'none';
                        await tools.setPage('editMain', '/view/form/none.html');
                        new app().$mount("#editMain");
                        this.refreshBtn();
                    })
                },
                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                //                    添加页面                    //
                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                //添加或新建
                addItems() {
                    tools.setTimeOutP(0, async () => {
                        tools.$('#editMark').style.display = 'block';
                        //学生页面上传一项
                        if (staticValue.getCurrentPage() == 1) {
                            await tools.setPage('editMain', '/view/form/studentOneImport.html');
                            new app().$mount("#editMain");
                        }
                        //教师页面上传一项
                        if (staticValue.getCurrentPage() == 2) {
                            await tools.setPage('editMain', '/view/form/teacherOneImport.html');
                            new app().$mount("#editMain");
                        }
                        //选题页面上传一项
                        if (staticValue.getCurrentPage() == 3) {
                            await tools.setPage('editMain', '/view/form/topicOneImport.html');
                            new app().$mount("#editMain");
                        }
                        //公告页面上传一项
                        if (staticValue.getCurrentPage() == 5) {
                            await tools.setPage('editMain', '/view/form/noticeOneImport.html');
                            new app().$mount("#editMain");
                        }
                    }).then(val => {
                        tools.$('#editMark').style.opacity = '1';
                    });
                },
                //批量添加或新建
                addItemsAll() {
                    tools.setTimeOutP(0, async () => {
                        tools.$('#editMark').style.display = 'block';
                        //学生页面上传多项
                        if (staticValue.getCurrentPage() == 1) {
                            await tools.setPage('editMain', '/view/form/usersImport.html',{importUri:'/import/student'});
                            new app().$mount("#editMain");
                        }
                        //教师页面上传多项
                        if (staticValue.getCurrentPage() == 2) {
                            await tools.setPage('editMain', '/view/form/usersImport.html',{importUri:'/import/teacher'});
                            new app().$mount("#editMain");
                        }

                    }).then(val => {
                        tools.$('#editMark').style.opacity = '1';
                    });
                },

                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                //                    删除功能                    //
                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                //表格删除
                deleteList(data) {
                    staticValue.setChoseId(data);
                    tools.setTimeOutP(0, async () => {
                        tools.$('#editMark').style.display = 'block';
                        //学生页面删除
                        if (staticValue.getCurrentPage() == 1) {
                            await tools.setPage('editMain', '/view/form/studentDelete.html');
                            new app().$mount("#editMain");
                        }

                        //教师页面删除
                        if (staticValue.getCurrentPage() == 2) {
                            await tools.setPage('editMain', '/view/form/teacherDelete.html');
                            new app().$mount("#editMain");
                        }
                    }).then(val => {
                        tools.$('#editMark').style.opacity = '1';
                    })
                },
                //公告删除
                deleteNotice(id) {
                    // console.log(this);
                },
                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                //                    表单提交                    //
                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                //多用户提交文件
                usersSubmitUpload() {
                    this.$refs.upload.submit();
                },
                //学生修改表单
                studentEditForm(){
                    if(tools.inputIsNullValue('#studentName')
                    &&tools.inputIsNullValue('#studentGarden')
                    &&tools.inputIsNullValue('#studentDepartment')){
                        let postData = {
                            name: tools.$('#studentName').value,
                            classname: tools.$('#studentGarden').value,
                            department: tools.$('#studentDepartment').value,
                            id:staticValue.getChoseId()
                        };
                        axios.post('/student/set',postData).then(val=>{
                            if(val['data']['id'] == '1'){
                                this.$message.success("修改成功");
                                this.refreshTableItems();
                                this.closeEdit();//关闭表单页面
                            }
                            if(val['data']['id'] == '2'){
                                this.$message.error("修改失败,数据库错误");
                            }
                        }).catch(err=>{
                            this.$message.error("修改失败");
                        });
                    }else{
                        this.$message.error("请填写完整信息");
                    }
                },
                //学生添加表单
                studentAddForm(formName){
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            let postData = {
                                studentId:this.studentAdd['studentId'],
                                name: this.studentAdd['studentName'],
                                classname: this.studentAdd['studentGarden'],
                                department: this.studentAdd['studentDepartment'],
                            };
                            axios.post('/student/add', postData).then(val=>{
                                if(val['data']['id'] == 1){
                                    this.$message.success("添加成功");
                                    this.refreshTableItems();
                                    this.closeEdit();//关闭表单页面
                                }
                                if(val['data']['id'] == 2){
                                    this.$message.error("格式化错误");
                                }
                                if(val['data']['id'] == 3){
                                    this.$message.error("字段不能为空");
                                }
                                if(val['data']['id'] == 4){
                                    this.$message.error("数据库错误");
                                }

                            }).catch(err=>{
                                this.$message.error("添加失败");
                            });

                        } else {
                            this.$message.error("请填写完整信息");
                            return false;
                        }
                    });
                },
                //学生删除
                deleteStudent(){
                    axios.post('/student/delete',tools.buildFormData({id:staticValue.getChoseId()})).then(async val=>{
                        if(val['data']['id'] == 1){
                            this.$message.success("删除成功");
                            this.refreshBtn();
                            this.closeEdit();//关闭表单页面
                        }
                        if(val['data']['id'] == 2){
                            this.$message.success("删除失败,数据库出错");
                            this.closeEdit();//关闭表单页面
                        }
                    }).catch(err=>{
                        this.$message.error("删除失败");
                    });
                },
                //教师修改表单
                teacherEditForm(){
                    if(tools.inputIsNullValue('#teacherName')
                        &&tools.inputIsNullValue('#teacherDepartment')){
                        let postData = {
                            name: tools.$('#teacherName').value,
                            department: tools.$('#teacherDepartment').value,
                            id:staticValue.getChoseId()
                        };
                        axios.post('/teacher/set', postData).then(val=>{
                            if(val['data']['id'] == '1'){
                                this.$message.success("修改成功");
                                this.refreshTableItems();
                                this.closeEdit();
                            }
                            if(val['data']['id'] == '2'){
                                this.$message.error("修改失败,数据库错误");
                            }
                        }).catch(err=>{
                            this.$message.error("修改失败");
                        });
                    }else{
                        this.$message.error("请填写完整信息");
                    }
                },
                //教师添加表单
                teacherAddForm(formName){
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            let postData = {
                                teacherId: this.teacherAdd['teacherId'],
                                name: this.teacherAdd['teacherName'],
                                department: this.teacherAdd['teacherDepartment'],
                            };
                            axios.post('/teacher/add', postData).then(val=>{
                                if(val['data']['id'] == '1'){
                                    this.$message.success("添加成功");
                                    this.refreshTableItems();
                                    this.closeEdit();
                                }
                                if(val['data']['id'] == '2'){
                                    this.$message.error("添加失败,数据库错误");
                                }
                            }).catch(err=>{
                                this.$message.error("添加失败");
                            });
                        } else {
                            this.$message.error("请填写完整信息");
                            return false;
                        }
                    });
                },
                //教师删除
                deleteTeacher(){
                    axios.post('/teacher/delete',tools.buildFormData({id:staticValue.getChoseId()})).then(async val=>{
                        if(val['data']['id'] == 1){
                            this.$message.success("删除成功");
                            this.refreshBtn();//刷新
                            this.closeEdit();//关闭表单页面
                        }
                        if(val['data']['id'] == 2){
                            this.$message.success("删除失败,数据库出错");

                            this.closeEdit();//关闭表单页面
                        }
                    }).catch(err=>{
                        this.$message.error("删除失败");
                    });
                },
                //选题添加表单
                topicAddForm(formName){
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            let tipArr = [];//所有的标签
                            for(let key in this.topicAdd.topicTags)
                            {
                                tipArr.push(this.topicAdd.topicTags[key]['value']);
                            }



                            console.log(tipArr);
                        }
                    });
                },
                //选题添加标签
                addTags(){
                    let tagValue = this.topicAdd.topicOneTag;
                    if(tagValue){
                        let isRepeat = false;//判断是否重复
                        this.topicAdd.topicTags.forEach((items,index)=>{
                            if(items['value'] == tagValue){
                                this.$message.error("请不要添加重复的标签");
                                isRepeat = true;
                            }
                        })
                        if(!isRepeat){
                            //数组插入标签
                            let tagsArr =this.topicAdd.topicTags;
                            tagsArr.push({
                                value:tagValue
                            });
                            //添加小标签
                            let tagDiv=document.createElement("div");
                            tagDiv.className = 'nmTag';
                            tagDiv.innerHTML = `${tagValue}
                                                <div id="removeTag_${tagValue}" class="nmTagDelete" val="${tagValue}">
                                                    <i class="el-icon-close"></i>
                                                </div>`;
                            tools.$('#topicTags').appendChild(tagDiv);
                            //添加标签删除功能
                            tools.$(`#removeTag_${tagValue}`).addEventListener('click',function () {
                                //删除数组的值
                                tagsArr.forEach((items,index)=>{
                                    if(items['value'] == this.getAttribute('val')){
                                        delete tagsArr[index];
                                    }
                                })
                                this.parentNode.parentNode.removeChild(this.parentNode);//删除节点
                            });
                        }
                        this.$set(this.topicAdd,'topicOneTag','');
                    }else{
                        this.$message.error("添加的标签内容不能为空");
                    }
                },
                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                //                    查询功能                    //
                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                selectTableItems() {

                },
                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                //                      杂                       //
                // ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼//
                //刷新按钮
                async refreshBtn(){
                    if(staticValue.getCurrentPage() == '1'){
                        let studentData = await tools.getAxiosData('/student/list?page=1&pageSize=8');
                        staticValue.getThat().refreshTables(1,studentData['data']['total'],8);
                    }
                    //教师页刷新
                    if(staticValue.getCurrentPage() == '2'){
                        let teacherData = await tools.getAxiosData('/teacher/list?page=1&pageSize=8');
                        staticValue.getThat().refreshTables(1,teacherData['data']['total'],8);
                    }
                    this.$message('刷新成功');
                    new app().$mount("#mainContent");
                },
                //单页面刷新
                async refreshTableItems() {
                    //学生页刷新
                    if(staticValue.getCurrentPage() == '1'){
                        let studentData = await tools.getAxiosData(`/student/list?page=${staticValue.getPageNumber()}&pageSize=8`);
                        tools.$('#tableDate').innerHTML = await tableModel.getStudentTableData(studentData['data']['data']);
                    }
                    //教师页刷新
                    if(staticValue.getCurrentPage() == '2'){
                        let teacherData = await tools.getAxiosData(`/teacher/list?page=${staticValue.getPageNumber()}&pageSize=8`);
                        tools.$('#tableDate').innerHTML = await tableModel.getTeacherTableData(teacherData['data']['data']);
                    }
                    new app().$mount("#mainContent");
                },
                //切换页面刷新
                refreshTables(nowPage,totalData,pageSize){
                    staticValue.getThat().$set(this.pageInfo,'nowPage',nowPage);
                    staticValue.getThat().$set(this.pageInfo,'pageSize',pageSize);
                    staticValue.getThat().$set(this.pageInfo,'totalData',totalData);
                    staticValue.setPageNumber(nowPage);
                    this.refreshTableItems();
                },
                //换页
                async handleCurrentChange(val) {
                    this.$set(this.pageInfo,'nowPage',val);
                    staticValue.setPageNumber(this.pageInfo['nowPage']);
                    //学生换页
                    this.refreshTableItems();
                }
            }
        });
        new app().$mount("#app");


    })();

</script>
</html>