<el-form style="margin-right: 2rem" :model="studentAdd" status-icon ref="studentAdd" :rules="studentAddRule"  label-width="100px" class="demo-ruleForm">
    <el-form-item prop="studentId" label="学号:" label-position="left">
        <el-input id="studentId" v-model="studentAdd.studentId" clearable></el-input>
    </el-form-item>
    <el-form-item prop="studentName" label="姓名:" label-position="left">
        <el-input id="studentName" v-model="studentAdd.studentName" clearable></el-input>
    </el-form-item>
    <el-form-item prop="studentGarden" label="班级:" label-position="left">
        <el-input id="studentGarden" v-model="studentAdd.studentGarden" clearable></el-input>
    </el-form-item>
    <el-form-item prop="studentDepartment" label="系部:" label-position="left">
        <el-input id="studentDepartment" v-model="studentAdd.studentDepartment" clearable></el-input>
    </el-form-item>
    <el-form-item>
        <el-button type="primary" @click="studentAddForm('studentAdd')" icon="el-icon-edit">添加</el-button>
        <el-button class="editClose" @click="closeEdit" type="primary" icon="el-icon-switch-button">关闭</el-button>
    </el-form-item>
</el-form>