<el-form style="margin-right: 2rem" :model="studentEdit" status-icon ref="studentEdit"  label-width="5rem" >
    <el-form-item prop="studentName" label="姓名:" label-position="left">
        <el-input id="studentName" v-model="studentEdit.studentName" clearable></el-input>
        <span class="inputRule" id="studentNameRule">请输入姓名</span>
    </el-form-item>
    <el-form-item prop="studentGarden" label="班级:" label-position="left">
        <el-input id="studentGarden" v-model="studentEdit.studentGarden" clearable></el-input>
        <span class="inputRule" id="studentGardenRule">请输入班级</span>
    </el-form-item>
    <el-form-item prop="studentDepartment" label="部门:" label-position="left">
        <el-input id="studentDepartment" v-model="studentEdit.studentDepartment" clearable></el-input>
        <span class="inputRule" id="studentDepartmentRule">请输入部门</span>
    </el-form-item>
    <el-form-item>
        <el-button type="primary" @click="studentEditForm" icon="el-icon-edit">修改</el-button>
        <el-button class="editClose" @click="closeEdit" type="primary" icon="el-icon-switch-button">关闭</el-button>
    </el-form-item>
</el-form>

