<div class="changePwdDiv">
    <el-form style="margin-right: 2rem" :model="changePwd" status-icon ref="changePwd" :rules="changePwdRule"  label-width="100px" class="demo-ruleForm">
        <el-form-item prop="oldPwd" label="旧密码:" label-position="left">
            <el-input id="oldPwd" v-model="changePwd.oldPwd" clearable></el-input>
        </el-form-item>
        <el-form-item prop="newPwd" label="新密码:" label-position="left">
            <el-input id="newPwd" v-model="changePwd.newPwd" clearable></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="changePwdForm('changePwd')" icon="el-icon-edit">修改密码</el-button>
        </el-form-item>
    </el-form>
</div>