<p class="noticeTitle"><i class="el-icon-chat-square"></i>当前公告</p>
<div class="currentNotices">
    <div class="noticeItems">
        <p class="noticeHead">
             <span class="title">公告1</span>
             <span class="data">2020/10/15</span>
        </p>
        <p class="noticeMessage">
             主要信息,主要信息主要,信息主要信
             息,主要信息,主要信息,主要信息
             主要信息,主要信息主要,信息主要信
             息,主要信息,主要信息,主要信息
             主要信息,主要信息主要,信息主要信
             息,主要信息,主要信息,主要信息
             主要信息,主要信息主要,信息主要信
             息,主要信息,主要信息,主要信息
        </p>
        <div class="noticeFooter">
             <el-button @click="showEdit(id)" type="text" icon="el-icon-edit">编辑</el-button>
             <el-button @click="deleteNotice(this.index)" type="text" icon="el-icon-delete">删除</el-button>
        </div>
    </div>
    <div class="noticeItems">
     <p class="noticeHead">
          <span class="title">公告2</span>
          <span class="data">2020/10/15</span>
     </p>
     <p class="noticeMessage">
          aaa xxx bbb www ok ok ok ok ok 
     </p>
     <div class="noticeFooter">
          <el-button @click="showEdit(id)" type="text" icon="el-icon-edit">编辑</el-button>
          <el-button @click="deleteNotice(this.index)" type="text" icon="el-icon-delete">删除</el-button>
     </div>
 </div>
 <div class="noticeItems">
     <p class="noticeHead">
          <span class="title">公告3</span>
          <span class="data">2020/10/16</span>
     </p>
     <p class="noticeMessage">
          主要信息,主要信息主要,信息主要信         
          息,主要信息,主要信息,主要信息
     </p>
     <div class="noticeFooter">
          <el-button @click="showEdit(id)" type="text" icon="el-icon-edit">编辑</el-button>
          <el-button @click="deleteNotice(this.index)" type="text" icon="el-icon-delete">删除</el-button>
     </div>
 </div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
 <div class="noticeItems"></div>
</div>