<div class='lTable'>
    <div class="tableHead">
        <p class="nmTitle">选题名称</p>
        <p class="nmTitle">选题来源</p>
        <p class="nmTitle">选题内容</p>
        <p class="nmTitle">选题难度</p>
        <p class="nmTitle">创建时间</p>
        <p class="nmTitle">选题类型</p>
        <p class="nmTitle">指导老师姓名</p>
        <p class="staticTitle"
        style="width: 200px;
        padding-left:2rem;
        box-sizing: border-box">操作</p>
    </div>
    <div class="tableDate" id="tableDate">

    </div>
</div>