<!--<el-table :data="studentData.dataArray">-->
<!--    <el-table-column prop="studentId" label="学生学号">-->
<!--    </el-table-column>-->
<!--    <el-table-column prop="classname" label="学生班级">-->
<!--    </el-table-column>-->
<!--    <el-table-column prop="department" label="学生系部">-->
<!--    </el-table-column>-->
<!--    <el-table-column prop="name" label="学生姓名">-->
<!--    </el-table-column>-->
<!--    <el-table-column label="操作" width="280">-->
<!--        <template slot-scope="scope">-->
<!--            <el-button @click="showEdit(scope.row)" type="text" icon="el-icon-edit">编辑</el-button>-->
<!--            <el-button @click="deleteList(scope.row)" type="text" icon="el-icon-delete">删除</el-button>-->
<!--        </template>-->
<!--    </el-table-column>-->
<!--</el-table>-->

<div class='lTable'>
    <div class="tableHead">
        <p class="nmTitle">学生学号</p>
        <p class="nmTitle">学生班级</p>
        <p class="nmTitle">学生系部</p>
        <p class="nmTitle">学生姓名</p>
        <p class="staticTitle" style="color: red">操作</p>
    </div>
    <div class="tableDate" id="tableDate">

    </div>
</div>