* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
}

/* 公共样式 */

#public {
    position: absolute;
    opacity: 0;
}

/* 自定义滚动条 */

*::-webkit-scrollbar {
    width: 7px;
    height: 1px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #979797;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

/*表单验证样式*/
.inputRule{
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 4px;
    color: #F56C6C;
    font-size: 12px;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.3s;
}