* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
}

/* 公共样式 */

#public {
    position: absolute;
    opacity: 0;
}

/* 自定义滚动条 */

*::-webkit-scrollbar {
    width: 7px;
    height: 1px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #979797;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

/*表单验证样式*/
.inputRule{
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 4px;
    color: #F56C6C;
    font-size: 12px;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

/*加载页*/
.loadDiv {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loadDiv span {
    background-color: #5fafff;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation-name: loadAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.loadDiv span:nth-child(1) {
    width: 15px;
    height: 15px;
    animation-delay: 0ms;
}

.loadDiv span:nth-child(2) {
    width: 10px;
    height: 10px;
    animation-delay: 100ms;
}

.loadDiv span:nth-child(3) {
    width: 5px;
    height: 5px;
    animation-delay: 200ms;
}

@keyframes loadAnimation {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 0px;
        left: 100%;
    }

    50% {
        top: 100%;
        left: 100%;
    }

    75% {
        top: 100%;
        left: 0px;
    }

    100% {
        top: 0px;
        left: 0px;
    }
}

/*隐藏列表*/
.el-upload-list{
    display: none!important;
}