.lTable{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
}

.lTable .tableHead{
    width: 100%;
    padding: 12px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 1px solid #EBEEF5;
}

.lTable .tableHead .nmTitle{
    flex: 1;
    padding: 0px 10px;
    color: #909399;
    font-weight: 600;
    text-align: center;
}

.lTable .tableHead .staticTitle{
    width: 280px;
    color: #909399;
    font-weight: 600;
    text-align: center;
}

.lTable .tableDate{
    width: 100%;    
}

.lTable .tableDate .dateColumn{
    width: 100%;
    padding: 12px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 1px solid #EBEEF5;
}

.lTable .tableDate .dateColumn .nmDate{
    flex: 1;
    padding: 0px 10px;
    color: #606266;
    text-align: center;
}
/*有子项的表单元*/
.lTable .tableDate .dateColumn .InnerBox{
    display: flex;
    flex-flow: column nowrap;
}
/*子项*/
.lTable .tableDate .dateColumn .nmDate .nmInnerData{
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.lTable .tableDate .dateColumn .nmDate .nmInnerData span{
    width: 6rem;
    text-align: center;
}

.lTable .tableDate .dateColumn .stressData{
    font-size: 1.1rem;
    font-weight: 600;
}

.lTable .tableDate .dateColumn .staticDate{
    width: 280px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
/*表格tag*/
.nmTag{
    display: inline-block;
    height: 32px;
    margin: 4px 4px;
    padding: 0 10px;
    line-height: 30px;
    background-color: #ecf5ff;
    font-size: 12px;
    color: #409eff;
    border: 1px solid #d9ecff;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
}

.nmTagDelete{
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 1rem;
}

/*文件模组*/
.fileModel{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.fileModel .fileName{
    width: 10rem;
    text-align: center;
}