<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/admin/index.css">
    <link rel="stylesheet" href="/css/globel.css">
    <link rel="stylesheet" href="/css/element.css">
    <link rel="stylesheet" href="/css/frame.css">
    <link rel="stylesheet" href="/css/lTable.css">

</head>

<body class="loginBk">
    <div id="app">
        <div class="loginBody">
            <div id="loginForm" class="loginForm"></div>
            <div id="loginMsg" class="loginMsg"></div>
        </div>
    </div>
</body>
<script src="/js/tool.js" type="module"></script>
<script src="/js/vue.js" type="module"></script>
<script src="/js/element.js" type="module"></script>
<script src="/js/axios.js"></script>
<script type="module">
    import { tools } from './js/tool.js';
    import { tableModel } from './js/tableModel.js';
    let codeUrl = '/captcha/get?';
    (async () => {
        await tools.setPage('loginForm', './view/login/loginForm.html');
        await tools.setPage('loginMsg', './view/login/loginMsg.html');

        tools.$('.loginBk').style.background = `url(/image/Sola.png)`;
        //初始加载二维码
        tools.$('.codeImg').src =`${codeUrl}${(Math.random()*100 + '').slice(0,2)}`;
        //初始化公告
        let noticeData = await tools.getAxiosData('/announcement/list');
        tools.$('#msgBody').innerHTML = await tableModel.getLoginNoticeData(noticeData['data']['data']);
        var app = Vue.extend({
            data() {
                return {
                    rules: {
                        username: [
                            { required: true, message: '请输入用户名', trigger: 'blur' }
                        ],
                        password: [
                            { required: true, message: '请输入密码', trigger: 'blur' }
                        ],
                        verificationCode: [
                            { required: true, message: '请输入验证码', trigger: 'blur' }
                        ]
                    },
                    loginForm: {
                        username: '',
                        password: '',
                        verificationCode: ''
                    },
                    username: '',
                    password: '',
                    verificationCode: '',
                    topicItems: ['1','2','3']
                }
            },
            mounted:function(){

            },
            methods: {
                // 登录
                submitForm(formName) {
                    this.$refs[formName].validate(async (valid) => {
                        if (valid) {
                            let userData = {
                                username: this.loginForm.username,
                                password: this.loginForm.password,
                                code: this.loginForm.verificationCode,
                            };
                            try {
                                let loginResult = await axios.post('/login', tools.buildFormData(userData));
                                if(loginResult['data']['id'] == 1 ||loginResult['data']['id'] == 0 ){
                                    tools.setTimeOutP(3000,()=>{
                                        this.$message.success("3秒后将跳转");
                                        tools.setCookie('loginUserName',this.loginForm.username,1);
                                    }).then(val=>{
                                        tools.jump('/');
                                    });
                                }
                                if(loginResult['data']['id'] == 3){
                                    tools.setTimeOutP(0,()=>this.$message.error("验证码错误")).then(val=>{
                                        this.loginForm.verificationCode = '';
                                        let codeUri = `${codeUrl}${(Math.random()*100 + '').slice(0,2)}`;
                                        tools.$('.codeImg').src = codeUri;
                                    });
                                }
                                if(loginResult['data']['id'] == 4){
                                    tools.setTimeOutP(0,()=>this.$message.error("用户名或者密码不能为空")).then(val=>{
                                        let codeUri = `${codeUrl}${(Math.random()*100 + '').slice(0,2)}`;
                                        tools.$('.codeImg').src = codeUri;
                                    });
                                }
                                if(loginResult['data']['id'] == 5){
                                    tools.setTimeOutP(0,()=>this.$message.error("密码错误")).then(val=>{
                                        this.loginForm.password = '';
                                        let codeUri = `${codeUrl}${(Math.random()*100 + '').slice(0,2)}`;
                                        tools.$('.codeImg').src = codeUri;
                                    });
                                }
                                if(loginResult['data']['id'] == 6){
                                    tools.setTimeOutP(0,()=>this.$message.error("未知用户名")).then(val=>{
                                        this.loginForm.username = '';
                                        let codeUri = `${codeUrl}${(Math.random()*100 + '').slice(0,2)}`;
                                        tools.$('.codeImg').src = codeUri;
                                    });
                                }
                                if(loginResult['data']['id'] == 7){
                                    tools.setTimeOutP(0,()=>this.$message.error("未知错误")).then(val=>{
                                        this.loginForm.username = '';
                                        this.loginForm.password = '';
                                        this.loginForm.verificationCode = '';
                                        let codeUri = `${codeUrl}${(Math.random()*100 + '').slice(0,2)}`;
                                        tools.$('.codeImg').src = codeUri;
                                    });
                                }
                                if(loginResult['data']['id'] == -1){
                                    tools.setTimeOutP(0,()=>this.$message.error("用户已登陆")).then(val=>{
                                        // this.loginForm.username = '';
                                        // let codeUri = `${codeUrl}${(Math.random()*100 + '').slice(0,2)}`;
                                        // tools.$('.codeImg').src = codeUri;
                                    });
                                }
                            } catch {
                                this.$message.error("网络出错了")
                            }
                        } else {
                            alert('请输入完整信息');
                            return false;
                        }
                    });
                },
                // 刷新验证码
                async refreshCode() {
                    try {
                        let codeUri = `${codeUrl}${(Math.random()*100 + '').slice(0,2)}`;
                        tools.$('.codeImg').src = codeUri;
                    } catch {
                        alert('获取失败');
                    }
                }
            }
        });
        var fin = new app().$mount("#app");
    })();

</script>

</html>