<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/admin/index.css">
    <link rel="stylesheet" href="/css/globel.css">
    <link rel="stylesheet" href="/css/element.css">
    <link rel="stylesheet" href="/css/frame.css">
    <link rel="stylesheet" href="/css/lTable.css">

</head>

<body class="loginBk">
    <div id="app">
        <div class="loginBody">
            <div id="loginForm" class="loginForm"></div>
            <div id="loginMsg" class="loginMsg"></div>
        </div>
    </div>
</body>
<script src="/js/tool.js" type="module"></script>
<script src="/js/vue.js" type="module"></script>
<script src="/js/element.js" type="module"></script>
<script src="/js/axios.js"></script>
<script type="module">
    import { tools } from './js/tool.js';
    import { tableModel } from './js/tableModel.js';
    (async () => {
        await tools.setPage('loginForm', './view/login/loginForm.html');
        await tools.setPage('loginMsg', './view/login/loginMsg.html');

        // 设置登录页背景图片
        tools.$('.loginBk').style.background = `url(/image/Sola.png)`;
        //初始化公告
        let noticeData = await tools.getAxiosData('/announcement/list');
        tools.$('#msgBody').innerHTML = await tableModel.getLoginNoticeData(noticeData['data']['data']);
        var app = Vue.extend({
            data() {
                return {
                    rules: {
                        username: [
                            { required: true, message: '请输入用户名', trigger: 'blur' }
                        ],
                        password: [
                            { required: true, message: '请输入密码', trigger: 'blur' }
                        ],
                    },
                    loginForm: {
                        username: '',
                        password: '',
                    },
                    topicItems: ['1','2','3']
                }
            },
            mounted:function(){

            },
            methods: {
                // 登录
                submitForm(formName) {
                    this.$refs[formName].validate(async (valid) => {
                        if (valid) {
                            let userData = {
                                username: this.loginForm.username,
                                password: this.loginForm.password,
                                code:''
                            };
                            try {
                                let loginResult = await axios.post('/login', tools.buildFormData(userData));
                                if(loginResult['data']['id'] == 1 ||loginResult['data']['id'] == 0 ){
                                    tools.setTimeOutP(3000,()=>{
                                        this.$message.success("3秒后将跳转");
                                        tools.setCookie('loginUserName',this.loginForm.username,1);
                                    }).then(val=>{
                                        tools.jump('/');
                                    });
                                }else{
                                    this.$message.error(loginResult['data']['message']);
                                }

                            } catch {
                                this.$message.error("网络出错了")
                            }
                        } else {
                            alert('请输入完整信息');
                            return false;
                        }
                    });
                },
            }
        });
        var fin = new app().$mount("#app");
    })();

</script>

</html>